.head-line {
  margin-top: 1em; 
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 438px;
  margin-bottom: 30px;
}

body{
  margin: 20px;
}

.button-style {
  margin-top: 1em; 
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 4px double black;
  flex-wrap: wrap;
}

.button-style button {
  border: none;
  background: none;
  margin: 7px;
}

.button-style button:hover {
  background-color: lightgray;
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 10px;
}

.news {
  border-bottom: 2px solid gray;
  margin-bottom: 20px;
}

#input-area{
  display: none;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkgrey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
}

.side-menu .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: lightgray;
  border-radius: 3px;
}


#hamburger {
 display: none;
}


.side-menu {
  width: 0;
}


@media (max-width: 768px) {
  #hamburger {
    display: block; 
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
  }

  .button-style {
    display: none;
  }
}

.searchBtn{
  margin: 12px;

}